<%# createアクションを呼び出す%>
<%# form_with呼び出しでネストしたルーティングの一つの配列を渡す%>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

<%# statusの選択を追加%>
  <p>
  <%= form.label :status %><br>
  <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
</p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>